Package: JourneyEye
Version: 1.1.0
Architecture: armhf
Essential: no
Priority: optional
Depends: libopencv-videoio4.2 libgtkmm-3.0-1v5 ffmpeg v4l-utils
Maintainer: Nightwind Future Industries Limited (NZ)
Description: A video recorder that records from two cameras to create a combined Picture-In-Picture video.
